
# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# Streamlit
.streamlit/
config.toml

# IDE settings
.vscode/
.idea/

# Data
*.csv
*.txt
!requirements.txt
!README.md
